table, th, td {
    border:2px solid black;
    border-collapse: collapse;
  }

table {
    width: 70%;
    margin: auto;
}

td {
  width: 5vh;
  text-align: center;
}

/* ================================================= */

.forminsert{
  width: 60%;
  margin: auto;
  border: 1.5px solid black;
  text-align: center;
  margin-top: 3rem;
}

.forminsert label{
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}