form{
    width: 75%;
    margin: 1rem auto 0 auto;
    border: 1px solid black;
    text-align: center;
}

form h1 {
    font-size: 3rem;
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;
}

form input {
    display: block;
    margin: 0 auto 1.5rem auto;
}

#submitbutton {
    font-size: 1.3rem;
}

form label{
    font-size: 1rem;
    font-family: arial;
}
